{% extends 'main.html' %}

{% block content %}

<center>

    <h1>Ayudanos a alimentar a Vicky.</h1>

    <h3>hazle preguntas a Vicky y dinos si el topico que ella 
        devuelve es correcto o no.</h3>  

    <form id="preguntar_Vicky" action="{% url 'vicky' %}" method="POST">
        {% csrf_token%}

        <div class="form-group">
            <label for="txt_pregunta_Vicky">Pregunta:</label><br>
            
            <input type="text" id="txt_pregunta_Vicky" 
            name="pregunta_Vicky" v-model="pregunta" class="col-sm-8 form-control" 
            placeholder="preguntale a Vicky..." required>
        </div>

        <button id="preguntar" class="btn btn-primary" type="submit">Preguntar</button>
    </form>

    <br>

    {% if respuesta != null %}

        <form action="{% url 'vicky' %}" method="POST">
            {% csrf_token%}

            <h3>Su pregunta para Vicky fue:</h3>
            <input type="text" aling="center" class="col-sm-8" 
            readonly name="retorno_Pregunta" value="{{ pregunta }}" > 
            <br>

            <h3>La respuesta Vicky es:</h3>
            <input type="text" aling="center" class="col-sm-8" 
            readonly name="retorno_Respuesta" value="{{ respuesta }}">
            <br>

            <h3>Vicky contesto correctamente ?</h3>

            <button type="submit" class="col-sm-2 btn btn-primary btn-lg"
            id="responder_Si" name="Si" value="Si">Si</button>

            <button type="submit" class="col-sm-2 btn btn-danger btn-lg"
            id="responder_No" name="No" value="No">No</button>
        </form>

    {% endif %}

    {% if acierto == 'No' %}

        <form action="{% url 'vicky' %}" method="POST">
            {% csrf_token%}

            <h3>Su pregunta para Vicky fue:</h3>
            <input type="text" aling="center" class="col-sm-8" 
            readonly name="back_Pregunta" value="{{ back_pregunta }}" > 
            <br>

            <h3>La respuesta Vicky es:</h3>
            <input type="text" aling="center" class="col-sm-8" 
            readonly name="back_Respuesta" value="{{ back_respuesta }}">
            <br>

            <h3>¿La respuesta de Vicky no fue correcta? ¿Tienes alguna sugerencia de una buena respuesta?:</h3>
            <input type="text" id="txt_sugerencia_Vicky" 
            name="sugerencia_Vicky" class="col-sm-8 form-control" 
            placeholder="Hazle una sugerencia a Vicky..." required>
            <br>

            <button type="submit" class="col-sm-2 btn btn-primary btn-lg"
            id="sugerencia" name="sugerencia">Dale tu sugerencia</button>
        </form>

    {% endif %}

    {% if continue == 'continuar' %}

        <form action="{% url 'vicky' %}" method="POST">
            {% csrf_token%}

            <h3>¿Quieres seguir alimentando a Vicky?</h3>

            <button type="submit" class="col-sm-2 btn btn-primary btn-lg"
            id="continue" name="continue" value="continue">Si</button>

            <button type="submit" class="col-sm-2 btn btn-danger btn-lg"
            id="break" name="break" value="break">No</button>
        </form>

    {% endif %}

</<center>

<script>

</script>

{% endblock %}